.home {
  max-width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 48px;

  margin-bottom: 10px;
}

.description {
  text-align: center;
  margin-bottom: 30px;
}

ul {
  display: flex;
  justify-content: center;

  li {
    text-align: center;
    margin: 0 20px;

    a {
      display: flex;
      color: rgba(0, 0, 0, 1);
      text-decoration: none;
      height: 200px;
      width: 200px;
      overflow: hidden;
    }

    img {
      width: 100%;
      transition: 0.5s all ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}
