.line-graph {
  display: flex;
  align-items: flex-end;
  height: 425px;
  text-align: center;

  &__container {
    position: relative;
    width: 8px;
    margin: 0 2px;
  }

  &__bar {
    width: 8px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: lightblue;

    &--value {
      display: none;
    }
  }
}

.sorted {
  background-color: green;
}

.pulled {
  background-color: red;
  position: absolute;
  top: 20px;
}

.comparing {
  background-color: yellow;
}

.complete {
  background-color: lightgreen;
}

@media (min-width: 768px) {
  .line-graph {
    &__container {
      width: 15px;
    }
  }
}

@media (min-width: 992px) {
  .line-graph {
    &__container,
    &__bar {
      width: 20px;
    }
  }
}

@media (min-width: 1220px) {
  .line-graph {
    &__container,
    &__bar {
      width: 25px;
    }
  }
}

@media (min-width: 1440px) {
  .line-graph {
    &__container,
    &__bar {
      width: 30px;
    }

    &__bar--value {
      display: block;
    }
  }
}

@media (min-width: 1600px) {
  .line-graph {
    &__container,
    &__bar {
      width: 35px;
    }
  }
}
