.line-graph {
  display: flex;
  align-items: flex-end;
  height: 800px;
  text-align: center;

  &__bar {
    text-align: center;
    width: 40px;
    background-color: lightblue;
    margin: 0 2.5px;
  }
}

.sorted {
  background-color: green;
}

.comparing {
  background-color: yellow;
}

.complete {
  background-color: lightgreen;
}
